<div class="page-title">
  <div class="title_left">
    <h1 style="font-size:36px;">Welcome to the WTW Sanctions Process</h1>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="x_panel">

      <div class="x_content">
        <p>
          Willis Towers Watson is committed to complying with applicable sanctions and export and trade control laws and regulations.
          Colleagues are required to ‘Tell the Sanctions Team’ before performing any activity involving:
        </p>
        <ul>
          <li>Touchpoint with a Sanctioned Country</li>
          <li>Touchpoint with Controlled Goods</li>
        </ul>
        <p>and only proceed if approved by the Sanctions Team.You can Tell the Sanctions Team by completing and submitting the
          relevant Sanctions or Controlled Goods Form.</p>
        <p>There are five forms found in the side bar:</p>
        <ul>
          <li>Consultancy, Advisory or Investment Services Form</li>
          <li>Insurance or Reinsurance Broking Form</li>
          <li>Iran Transactions Form</li>
          <li>Controlled Goods Form</li>
          <li>Payments Form&nbsp; &nbsp;&nbsp;</li>

        </ul>
        <p>
          Complete the appropriate form as fully and accurately as possible, providing full details in the form will assist the Sanctions
          Team to handle your referral quickly.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Latest Announcements</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p></p>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">

    <div class="x_panel">

      <p>The Sanctioned Countries as of today’s date are as follows:</p>

      <div class="x_content">
        <table class="table">
          <td colspan='6' class="table-heading">Sanctioned Countries for the UN,EU and US combined.</td>
          <tbody>
            <tr>
              <td>Afghanistan</td>
              <td>Libya</td>
              <td>South Sudan</td>
            </tr>
            <tr>

              <td>Belarus</td>
              <td>Mali</td>
              <td>Sudan</td>
            </tr>
            <tr>
              <td>Burundi</td>
              <td>Myanmar</td>
              <td>Syria</td>
            </tr>
            <tr>
              <td>Central African Republic</td>
              <td>Nicaragua</td>
              <td>Tunisia</td>
            </tr>
            <tr>
              <td>Cuba</td>
              <td>North Korea</td>
              <td>Ukraine (inc Crimea)</td>
            </tr>

            <tr>
              <td>Democratic Republic of Congo</td>
              <td>Republic of Guinea Bissau</td>
              <td>Venezuela</td>
            </tr>

            <tr>
              <td>Egypt</td>
              <td>Republic of Guinea</td>
              <td>Yemen</td>
            </tr>

            <tr>
              <td>Iran</td>
              <td>Russia Federation</td>
              <td>Zimbabwe</td>
            </tr>

            <tr>
              <td>Iraq</td>
              <td>Serbia</td>
              <td>Lebanon</td>

            </tr>

            <tr>
              <td>Somalia</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>